/*./index.css*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://example.com/background-image.jpg'); /* замените ссылку на ваше изображение */
  background-size: cover; /* чтобы изображение занимало весь экран */
  background-repeat: no-repeat; /* чтобы изображение не повторялось */
}
